* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: white;
}

/* Nav-bar css start */
.Navbar {
  background-color: #000235;
  text-align: center;
  z-index: 100;
}
.Navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.Navbar ul li {
  color: white;
  padding: 3px;
  margin: 3px;
}
.TopHeader {
  color: white;
  margin-top: 20px;
  font-size: 20px;
}
.nav-log img {
  width: 50px;
  height: 50px;

  margin: 10px;
}
.nav-log {
  display: flex;
  justify-content: center;
  text-align: center;
}
.Navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.Navbar ul li:hover {
  border-radius: 3px;
  text-decoration: underline;
}
.sub-menu-1 {
  display: none;
  z-index: 1;
}
.sub-menu-1 ul li a {
  text-decoration: none;
  font-size: 14px;
}
.Navbar ul li:hover .sub-menu-1 {
  display: block;

  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
}
.Navbar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 8px;
  /* border: 1px solid black; */
  background-color: #808080;
  opacity: 0.7;
  border-radius: 0px 8px 8px 8px;
}
.Navbar ul li:hover .sub-menu-1 ul li {
  padding: 10px;
  /* border-bottom: 1px solid #000235; */
  background: transparent;

  text-align: left;
  margin: 8px;
}
.Navbar ul li:hover .sub-menu-1 ul li a:hover {
  color: aqua;
}

/* nav-bar css end */

.mySlides {
  display: none;
  width: 100%;
}
.mySlides img {
  /* vertical-align: middle; */
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

.text {
  font-size: 11px;
}

/*---------- Message section----------------------------------------------- */

.message-container {
  text-align: center;
  position: absolute;
  margin-left: auto;
  z-index: 100;
  /*transform: translate(-50%, -50%);*/
  color: white;
  margin-top: 2rem;
}
.m1 {
  top: 0%;
}
.message-container h4 {
  font-size: 12px;
  padding: 5px;
}
.message-container h2 {
  font-size: 18px;
  padding: 5px;
}
.message-container p {
  font-size: 10px;
  width: auto;
}
/* -------------------------Alumni Achievement-box-s -----------------------------*/

.title {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.title h2 {
  font-size: 20px;
  border: 2px solid black;
  border-radius: 16px;
  padding: 10px;
  margin: 10px;
}

.Alumni-Achievement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 10px auto;
}

.Achievement-box {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.potrait {
  /* width: 70%; */
  margin: 10px auto 0;
  text-align: center;
}
.Achievement-box .potrait img {
  width: 120px;
  height: 80px;
  border-radius: 10px;
}

.Achievement-box .Introduction {
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
}

.Achievement-box .Introduction h4 {
  font-size: 14px;
}

.Achievement-box .Introduction h5 {
  font-size: 12px;
}

.Achievement-box .Introduction p {
  font-size: 10px;
}

#Bridge {
  text-decoration: none;
  color: black;
}
.GiveBack-Container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 90%;
  margin: auto;
}
.GB {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: transform 0.3s;
  cursor: pointer;
}
.GB:hover {
  transform: scale(1.05);
}

.card_img {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 100%;
  margin: -30px auto 0;
}
.card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.GB .Introduction {
  padding: 20px;
}
.GB .Introduction p {
  padding-top: 20px;
  font-size: 12px;
}

/* UpComing Events----- */

.UP {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
}
.Event_card {
  width: 45%;
  margin: auto;
  margin: 5px;
  border-radius: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.Event_card .Introduction {
  width: 100%;
  margin-bottom: 10px;
}
.Event-img img {
  width: 100%;
  height: 100px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  object-fit: cover;
}
.Event_card .Introduction h3 {
  /* text-align: center; */
  padding: 10px;
  font-size: 14px;
}
.Event_card .Introduction p,
.Introduction h5 {
  font-size: 12px;
  /* text-align: center; */
  padding: 10px;
}

/* Gallery */
.gallery-Container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1px;
  justify-content: center;
  align-items: center;
}
.gallery-Container img {
  width: 125px;
  height: 80px;
  padding: 5px;
  margin: 10px;
  border-radius: 8px;
}

.Achievement-box:last-child {
  display: none;
}

@media screen and (min-width: 375px) {
  .title h2 {
    font-size: 25px;
  }

  .Achievement-box .Introduction h4 {
    font-size: 16px;
  }

  .Achievement-box .Introduction h5 {
    font-size: 14px;
  }

  .Achievement-box .Introduction p {
    font-size: 12px;
  }

  .gallery-Container img {
    width: 140px;
    height: 100px;
  }
}

@media screen and (min-width: 425px) and (max-width: 787px) {
  .message-container {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    /* width: 80%; */
    text-align: center;
    margin-top: 8rem;
  }
  .message-container p {
    font-size: 12px;
  }
  .message-container h2 {
    font-size: 20px;
  }
  .message-container h4 {
    font-size: 14px;
  }
  .title h2 {
    font-size: 30px;
  }

  .gallery-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 1px;
  }
  .gallery-Container img {
    width: 160px;
    height: 120px;
  }
}

@media screen and (min-width: 768px) {
  .Navbar ul li {
    color: white;
    padding: 8px;
    margin: 8px;
  }
  .TopHeader {
    color: white;
    margin-top: 30px;
    font-size: 25px;
    margin-left: 30px;
  }
  .nav-log img {
    width: 65px;
    height: 65px;

    margin: 15px;
  }
  .Navbar ul li a {
    font-size: 15px;
  }
  .mySlides img {
    /* vertical-align: middle; */
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .message-container {
    width: 90%;
    margin-top: 15rem;
  }
  .message-container h4 {
    font-size: 18px;
    padding: 5px;
  }
  .message-container h2 {
    font-size: 35px;
    padding: 5px;
  }
  .message-container p {
    font-size: 15px;
    /*width: 500px;*/
  }
  .title h2 {
    font-size: 35px;
  }

  .Alumni-Achievement {
    flex-direction: row;
    gap: 10px;
  }

  .Achievement-box .potrait img {
    width: 160px;
    height: 120px;
    border-radius: 10px;
  }

  .GiveBack-Container {
    flex-direction: row;
  }
  .GB {
    width: 45%;
  }
  .card_img {
    width: 80px;
    height: 80px;
  }

  .GB .Introduction p {
    font-size: 14px;
  }

  .Event_card {
    width: 28%;
    margin: 10px;
  }

  .Event_card .Introduction h3 {
    font-size: 16px;
  }
  .Event_card .Introduction p,
  .Introduction h5 {
    font-size: 14px;
  }

  .gallery-Container {
    width: 85%;
    margin: auto;
  }

  .gallery-Container img {
    width: 170px;
    height: 130px;
  }
}
@media screen and (min-width: 787px) {
  .message-container {
    margin-top: 8rem;
    margin-left: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .Navbar ul li {
    color: white;
    padding: 10px;
    margin: 10px;
  }
  .TopHeader {
    color: white;
    margin-top: 25px;
    font-size: 35px;
    margin-left: 30px;
  }
  .nav-log img {
    width: 75px;
    height: 75px;

    margin: 15px;
  }
  .Navbar ul li a {
    font-size: 16px;
  }
  .mySlides img {
    /* vertical-align: middle; */
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .message-container {
    margin-top: 8rem;
    margin-left: 3rem;
  }

  .message-container h4 {
    font-size: 25px;
    padding: 8px;
  }
  .message-container h2 {
    font-size: 50px;
    padding: 5px;
  }
  .message-container p {
    font-size: 20px;
    /*width: 800px;*/
  }
  .title {
    margin-bottom: 80px;
  }
  .title h2 {
    font-size: 40px;
  }

  .Alumni-Achievement {
    width: 85%;
  }

  .Achievement-box .potrait img {
    width: 220px;
    height: 160px;
    border-radius: 10px;
  }

  .Achievement-box .Introduction h4 {
    font-size: 18px;
  }

  .Achievement-box .Introduction h5 {
    font-size: 16px;
  }

  .Achievement-box .Introduction p {
    font-size: 14px;
  }

  .GB {
    width: 25%;
  }
  .GiveBack-Container {
    flex-wrap: nowrap;
  }

  .Event_card {
    width: 20%;
  }

  .Event_card .Introduction h3 {
    font-size: 16px;
  }
  .Event_card .Introduction p,
  .Introduction h5 {
    font-size: 14px;
  }

  .gallery-Container img {
    width: 180px;
    height: 140px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .Navbar ul li {
    color: white;
    padding: 10px;
    margin: 10px;
  }
  .TopHeader {
    color: white;
    margin-top: 25px;
    font-size: 35px;
    margin-left: 30px;
  }
  .nav-log img {
    width: 80px;
    height: 80px;

    margin: 15px;
  }
  .message-container {
    width: 90%;
    /*margin-top: 2rem;*/
  }
  .Navbar ul li a {
    font-size: 16px;
  }

  .message-container h4 {
    font-size: 25px;
    padding: 10px;
  }
  .message-container h2 {
    font-size: 50px;
    padding: 20px;
  }
  .message-container p {
    font-size: 22px;
    /*width: 850px;*/
  }
  .title {
    margin-bottom: 50px;
  }
  .title h2 {
    font-size: 45px;
  }

  .Alumni-Achievement {
    gap: 20px;
    width: 80%;
  }
  .Achievement-box .potrait img {
    width: 240px;
    height: 160px;
    border-radius: 10px;
  }

  .Achievement-box .Introduction h4 {
    font-size: 20px !important;
  }

  .Achievement-box .Introduction h5 {
    font-size: 18px !important;
  }

  .Achievement-box .Introduction p {
    font-size: 16px;
  }

  .GB {
    width: 20% !important;
    margin: 10px;
  }

  .card_img {
    width: 100px;
    height: 100px;
  }

  .GB .Introduction p {
    font-size: 16px;
  }

  .gallery-Container {
    width: 85%;
    margin: auto;
  }

  .gallery-Container img {
    width: 270px;
    height: 200px;
  }
}
@media screen and (min-width: 1520px) {
  .message-container {
    margin-top: 8rem;
  }
  .card_img{
    width: 100px;
    height: 100px;

  }
}

@media screen and (min-width: 2560px) {
  .Navbar ul li {
    color: white;
    padding: 20px;
    margin: 20px;
  }
  .TopHeader {
    color: white;
    margin-top: 45px;
    font-size: 65px;
    margin-left: 30px;
    text-decoration: none;
  }
  .nav-log img {
    width: 120px;
    height: 120px;

    margin: 15px;
  }
  .mySlides img {
    /* vertical-align: middle; */
    width: 100%;
    height: 1000px;
    object-fit: cover;
  }
  .message-container {
    text-align: center;
    position: absolute;

    color: white;
  }
  .Navbar ul li a {
    font-size: 28px;
  }

  .message-container h4 {
    font-size: 35px;
    padding: 20px;
  }
  .message-container h2 {
    font-size: 70px;
    padding: 40px;
  }
  .message-container p {
    font-size: 28px;
  }
  .title {
    margin-bottom: 80px;
  }

  .title h2 {
    font-size: 80px;
  }

  .Alumni-Achievement {
    gap: 20px;
    width: 80%;
  }
  .Achievement-box .potrait img {
    width: 340px;
    height: 200px;
    border-radius: 10px;
  }

  .Achievement-box .Introduction h4 {
    font-size: 25px !important;
  }

  .Achievement-box .Introduction h5 {
    font-size: 20px !important;
  }

  .Achievement-box .Introduction p {
    font-size: 18px !important;
  }

  .GiveBack-Container {
    margin-bottom: 80px;
  }

  .GB {
    width: 20%;
    margin: 15px;
  }
  .card_img {
    width: 120px;
    height: 120px;
  }

  .GB .Introduction h3 {
    font-size: 28px;
  }
  .GB .Introduction p {
    font-size: 18px;
  }

  .Event_card {
    width: 20%;
  }

  .Event_card .Introduction h3 {
    font-size: 20px;
  }
  .Event_card .Introduction p,
  .Introduction h5 {
    font-size: 16px;
  }
  .gallery-Container img {
    width: 350px;
    height: 250px;
  }
}

/* more button */

.More_button {
  display: flex;
  justify-content: end;
  margin: 10px 100px;
}
.More_button h3 {
  font-size: 16px;
  border: 1px solid black;
  background-color: #000235;

  border-radius: 8px;
  padding: 8px;
}

.Sub_Potrait {
  width: fit-content;
}

/* ------------------------------------------------------------------------------------------------ */
/* contact-page */
/* --------------------------------------------------------------------------------------------------------- */

.soon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px !important;
}

.soon h2 {
  font-size: 45px !important;
  padding: 20px;
  margin: 20px;
}
