/* alumniForm.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

.heading h1 {
    font-size: 25px;
    color: black;
    margin: 10px auto;
}

.description {
    font-size: 12px;
    margin-bottom: 20px;
    color: #666;
}

.inputContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.data-input {
    width: 90%;
    margin: 30px auto;
}

.photo-input {
    width: 90%;
    margin: 30px auto;
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
    color: black;
    text-align: left;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease-in-out;
}

form input:focus, form select:focus {
    border-color: #469e80;
    outline: none;
}

#imagePreview {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.submit input[type="submit"] {
    width: 80%;
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #000235;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.submit input[type="submit"]:hover {
    background-color: #469e80;
}

.photo-input input {
    border: 1px solid black;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
    .heading h1 {
        font-size: 30px;
    }

    .description {
        font-size: 16px;
    }

    .data-input {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    label {
        margin-bottom: 8px;
        color: black;
        margin-left: 20px;
        max-width: 120px;
        font-size: 16px;
        display: inline-block;
        width: 30%; 
        text-align:left;
    }
    
    input, select {
        display: inline-block;
        width: 65%; 
        text-align: left;
        box-sizing: border-box; 
        margin-bottom: 10px;
        font-size: 14px;
    }

    :placeholder-shown {
        font-size: 14px;
    }

    select option {
        font-size: 14px;
    }

    select option[disabled]:first-of-type {
        color: #999;
        background-color: #f4f4f4;
        font-style: italic;
    }

    .photo-input {
        display: flex;
        align-items: center;
    }
    
    .photo-input div {
        margin: 10px 40px;
    }
    
    #imagePreview {
        max-width: 100%;
        max-height: 150px;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    
    input[type="file"] {
        width: 250px; 
        font-size: 14px;
    }
    
    input[type="file"]:focus {
        border-color: #3498db;
        outline: none;
    }
    
    .submit input[type="submit"] {
        font-size: 18px;
        width: 40%;
        margin-top: 20px;
        height: 50px;
    }
}

@media only screen and (min-width: 1024px) {
    .heading h1 {
        font-size: 35px;
    }

    .inputContainer {
        display: flex;
        justify-content: space-between;
    }
    
    .data-input {
        max-width: 60%;
    }
    .photo-input {
        max-width: 30%; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input, select {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1440px) {
    .heading h1 {
        font-size: 40px;
    }
}
